{% extends "shop/base.html" %}
{% load static %}
{% block content %}
        <!--hero-section-->
        <div class="container container-fullwidth">
            <div class="hero-section">
                <div class="box-center v2">
                    <h1 class="page-title">Blog Grid</h1>
                    <ul class="breadcrumb">
                        <li><a href="">Home</a></li>
                        <li><a href="">Elements</a></li>
                        <li><a href="">Banner</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end hero-section-->
        <div class="main-container blog--grid">
            <div class="container">
                <div class="row">
                          {% for article in  articles %}
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                        <div class="blog-post-item item-grid">
                            <a class="hover-images" href="{% url "article_detail"  article.id %}">
                                <img src="{% if article.image %}{{ article.image.url }}{% else %}{% static "img/blog/grid_1.jpg" %}{% endif %}" alt="" class="img-reponsive">
                            </a>
                                <div class="categories">
                                    {% for tag in article.tags.all %}
                            <div class="post-metas ver--grid">
                        <a href="{% url "article_list_by_tag" tag.slug %}" rel="category tag">{{ tag.name  }}</a>

                            </div>
                                    {% endfor %}
                                <span class="post-comments-number">{{ article.tags.all.count }}</span>

                            </div>

                            <div class="blog-post-info">
                                <div class="post-date">{{ article.create  }}</div>
                                <h3 class="post-name"><a href="#">{{ article.title }}</a></h3>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>

{% endblock %}















