
{% extends "shop/base.html" %}
{% load static %}
{% block content %}

{% block title %} {{ article.name  }} {% endblock %}

<div class="container">
    <div class="single-product-detail product-bundle product-aff">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-6">
                <div class="product-images">
<!--                    <div class="main-img js-product-slider">-->
<!--                        <a href="#" class="hover-images effect"><img src="{% static "img/bottle.jpg" %}" alt="photo" class="img-reponsive"></a>-->
                        <a href="#" class="hover-images effect"><img src="{% if article.image %}{{ article.image.url }}{% else %}{% static "img/bottle_3.jpg" %}{% endif %}" alt="photo" class="img-reponsive"></a>
<!--                        <a href="#" class="hover-images effect"><img src="{% static "img/bottle2.jpg" %}" alt="photo" class="img-reponsive"></a>-->
<!--                    </div>-->
                </div>
<!--                <div class="multiple-img-list-ver2 js-click-product">-->
<!--&lt;!&ndash;                    <div class="product-col">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="img active">&ndash;&gt;-->
<!--&lt;!&ndash;                            <img src="{% static "img/bottle.jpg" %}"alt="images" class="img-responsive">&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                    <div class="product-col">-->
<!--                        <div class="img">-->
<!--                            <img src="{% static "img/bottle_3.jpg" %}" alt="images" class="img-responsive">-->
<!--                        </div>-->
<!--                    </div>-->
<!--&lt;!&ndash;                    <div class="product-col">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="img">&ndash;&gt;-->
<!--&lt;!&ndash;                            <img src="{% static "img/bottle2.jpg" %}"  alt="images" class="img-responsive">&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->
            </div>
            <div class="col-xs-12 col-sm-7 col-md-6">
                <div class="single-product-info">
                    <div class="rating-star">
                        <div class="icon-rating"><span class="star star-5"></span>
                            <span class="star star-4"></span>
                            <span class="star star-3"></span>
                            <span class="star star-2"></span>
                            <span class="star star-1"></span>
                        </div>
                        <span class="review">( {{ article.reviews.count }} customer review)</span>
                    </div>
                    <h3 class="product-title">{{ article.title }}</h3>

                    <p class="product-desc">{{ article.body }}</p>
                    <div class="share-social">
                        <span>Share :</span>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--single-product-detail-->
    <div class="single-product-tab">
        <ul class="nav nav-tabs text-center">
<!--            <li class="active"><a data-toggle="pill" href="#desc">Description</a></li>-->
            <li><a data-toggle="pill" href="#review">Reviews ({{ article.reviews.count }}) </a></li>
        </ul>
        <div class="tab-content">
<!--            <div id="desc" class="tab-pane fade in active">-->
<!--                <p class="p-center"> {{ article}}</p>-->
<!--            </div>-->
            <div id="review" class="tab-pane fade in ">

                <div class="row">
                    <div class="single-form-left">
                        <!-- contact form grid -->
                        <div class="contact-single">
                            <h3 class="editContent">
                                Оставить отзыв
                            </h3>
                            <form action="{% url 'add_comment' article.id %}" method="post" class="mt-4" id="formReview">
                                {% csrf_token %}
                                <input type="hidden" name="parent" id="contactparent" value="">
                                <div class="form-group editContent">
                                    <label for="contactcomment" class="editContent">
                                        Ваш комментарий *
                                    </label>
                                    {{ form.text }}
                                </div>
                                <div class="d-sm-flex">
                                    <div class="col-sm-6 form-group p-0 editContent">
                                        <label for="contactusername" class="editContent">
                                            Имя *
                                        </label>
                                        {{ form.name }}
                                    </div>
                                    <div class="col-sm-6 form-group ml-sm-3 editContent">
                                        <label for="contactemail" class="editContent">
                                            Email *
                                        </label>
                                        {{ form.email }}
                                    </div>
                                </div>
                                <button type="submit" class=" btn btn-success ">
                                    Отправить
                                </button>
                            </form>
                        </div>
                        <!--  //contact form grid ends here -->
                    </div>
                </div>
                {% for review in article.reviews.all %}
                <div class="media py-5">
                    <img src="{% static 'images/te2.jpg' %}" class="mr-3 img-fluid" alt="image">
                    <div class="media-body mt-4">
                        <h5 class="mt-0 editContent">
                            {{ review.name }}
                        </h5>
                        <p class="mt-2 editContent">
                            {{ review.text }}
                        </p>
                        <a href="#formReview"
                           onclick="add_review('{{ review.name }}', '{{ review.id }}')">Ответить</a>
                        {% for rew in review.reviews.all %}
                        <div class="media mt-5 editContent">
                            <a class="pr-3" href="#">
                                <img src="{% static 'images/te2.jpg' %}" class="img-fluid "
                                     alt="image">
                            </a>
                            <div class="media-body">
                                <h5 class="mt-0 editContent">{{ rew.name }}</h5>
                                <p class="mt-2 editContent">{{ rew.text }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
    <!--single-product-tab-->
</div>
<div class="information">
    <ul>
        <li class="info-center text-center"><span>SKU :</span>
            <a href="">004004</a>
        </li>
        <li class="info-center bd-rl text-center"><span>Categories :</span>
            <a href="">Hoodies</a>,
            <a href="">Accessories</a>
        </li>
        <li class="info-center text-center"><span>Tags :</span>
            <a href="">Designer</a>,
            <a href="">Tech</a>
        </li>
    </ul>
</div>
<div class="product-related">
    <div class="container container-42">
        <h3 class="title text-center">Related Products</h3>
        <div class="owl-carousel owl-theme js-owl-product">
            <div class="product-item">
                <div class="product-images">
                    <a href="#" class="hover-images effect"><img src="{% static "img/products/highheels.jpg"%}" alt="products" class="img-reponsive"></a>
                    <a href="#" class="btn-add-wishlist ver2"><i class="icon-heart"></i></a>
                    <a href="#" class="btn-quickview">QUICK VIEW</a>
                </div>
                <div class="product-info-ver2">
                    <h3 class="product-title"><a href="#">Tia Slides in Brandy</a></h3>
                    <div class="product-after-switch">
                        <div class="product-price">$295.00</div>
                        <div class="product-after-button">
                            <a href="#" class="addcart">ADD TO CART</a>
                        </div>
                    </div>
                    <div class="rating-star">
                        <span class="star star-5"></span>
                        <span class="star star-4"></span>
                        <span class="star star-3"></span>
                        <span class="star star-2"></span>
                        <span class="star star-1"></span>
                    </div>
                    <div class="product-price">$292.00</div>
                </div>
            </div>
            <div class="product-item">
                <div class="product-images">
                    <a href="#" class="hover-images effect"><img src="{% static "img/products/hoodie.jpg" %}" alt="photo" class="img-reponsive">
                        <div class="ribbon-sale ver2"><span>sale</span></div>
                    </a>
                    <a href="#" class="btn-add-wishlist ver2"><i class="icon-heart"></i></a>
                    <a href="#" class="btn-quickview">QUICK VIEW</a>
                </div>
                <div class="product-info-ver2">
                    <h3 class="product-title"><a href="#">Alabama Tee</a></h3>
                    <div class="product-after-switch">
                        <div class="product-price">$295.00</div>
                        <div class="product-after-button">
                            <a href="#" class="addcart">ADD TO CART</a>
                        </div>
                    </div>
                    <div class="rating-star">
                        <span class="star star-5"></span>
                        <span class="star star-4"></span>
                        <span class="star star-3"></span>
                        <span class="star star-2"></span>
                        <span class="star star-1"></span>
                    </div>
                    <div class="product-price">$292.00</div>
                </div>
            </div>
            <div class="product-item">
                <div class="product-images">
                    <a href="#" class="hover-images effect"><img src=""{% static "img/products/bag_1.jpg" %}" alt="photo" class="img-reponsive">
                        <div class="ribbon-new ver2"><span>new</span></div>
                    </a>
                    <a href="#" class="btn-add-wishlist ver2"><i class="icon-heart"></i></a>
                    <a href="#" class="btn-quickview">QUICK VIEW</a>
                </div>
                <div class="product-info-ver2">
                    <h3 class="product-title"><a href="#">Denali Blanket Scarf</a></h3>
                    <div class="product-after-switch">
                        <div class="product-price">$295.00</div>
                        <div class="product-after-button">
                            <a href="#" class="addcart">ADD TO CART</a>
                        </div>
                    </div>
                    <div class="rating-star">
                        <span class="star star-5"></span>
                        <span class="star star-4"></span>
                        <span class="star star-3"></span>
                        <span class="star star-2"></span>
                        <span class="star star-1"></span>
                    </div>
                    <div class="product-price">$292.00</div>
                </div>
            </div>




            </div>
        </div>
    </div>
<footer>
    <div class="container container-42">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <div class="menu-footer">
                    <ul>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <div class="newletter-form">
                    <h3 class="footer-title text-center">Newsletter</h3>
                    <form action="#">
                        <input type="text" name="s" placeholder="Email Adress..." class="form-control">
                        <button type="submit" class="btn btn-submit">
                            <i class="fa fa-angle-right"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="social">
                    <a href="#" title="twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" title="facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" title="google plus">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#" title="Pinterest">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                    <a href="#" title="rss">
                        <i class="fa fa-rss"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="#" class="scroll_top">SCROLL TO TOP<span></span></a>
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/owl.carousel.min.js" %}"></script>
<script src="{% static "js/bootstrap-slider.min.js" %}"></script>
<script src="{% static "js/slick.min.js" %}"></script>
<script src="{% static "js/masonry.pkgd.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>


{% endblock %}
