{% extends "shop/base.html" %}
{% load static %}
{% block title%}{{custom_user.username}}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-5 col-3">
            <div class="card hovercard">
                <div class="cardheader">
                
                </div>
                <div class="avatar">
                    <img src="{% if custom_user.avatar %}{{ custom_user.avatar.url }}{% else %}{% static "img/profile.webp" %}{% endif %}" width="300" height="300" alt="">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="#">{{ custom_user.username }}</a>
                    </div>
                    {% if request.user.is_authenticated %}
                        <div class="desc">{{ request.user.first_name}} {{ request.user.last_name }} </div>
                        <div class="desc">{{ request.user.date_birth}}</div>
                        <div class="desc">{{request.user.email}}</div>
                    <div class="desc">
                        <a href="{% url 'edit' custom_user.id %}">Edit</a>
                    </div>
                    {% endif %}
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" href="" rel="publisher">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" href="" rel="publisher">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" href="" rel="publisher">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
