
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static "css/slick.css" %}">
    <link rel="stylesheet" href="{% static "css/slick-theme.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}" type="image/png">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-slider.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
     </head>
  <body>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">SEARCH HERE</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <form method="get" class="searchform" action="/search" role="search">
                            <input type="hidden" name="type" value="product">
                            <input type="text" name="q" class="form-control control-search">
                            <span class="input-group-btn">
                              <button class="btn btn-default button_search" type="button"><i data-toggle="dropdown" class="fa fa-search"></i></button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END  Modal content-->
    <header id="header" class="header-v1">
        <div class="sticky-header text-center hidden-xs hidden-sm">
            <div class="text">
                <span class="u-line"></span>
            </div>
        </div>

        <div class="topbar">
            <div class="container container-40">
                <div class="topbar-left">
                      <div class="topbar-option">
                        <div class="topbar-account">
                            {% if request.user.is_authenticated %}
                                <a href="{% url "profile" user.id %}"><i class="icon-user f-15"></i></a>
                            {% else %}
                                <a href="{% url "login" %}"><i class="icon-user f-15"></i></a>
                             {% endif %}
                        </div>
                       <div class="topbar-wishlist">
                           {% with total_items=favorite|length %}
                                  {% if favorite|length > 0 %}
                            <a href="{% url "favorite_detail" %}">
                                <i class="icon-heart f-15"></i>
                                <span class="count wishlist-count">{{ total_items  }}</span>
                            {% else %}
                                <i class="icon-heart f-15"></i>
                                <span class="count wishlist-count">0</span>
                                 {% endif %}
                                  {% endwith %}

                            </a>
                        </div>
                        <div class="topbar-language dropdown">
                            <a id="label1" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                              <span></span>
                              <!-- <span class="fa fa-caret-down f-10"></span>-->
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="label1">
                                <li><a href="#">English</a></li>
                                <li><a href="#">Vietnamese</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--end topbar-option-->
                </div>
                <!--end topbar-left-->
                <div class="logo hidden-xs hidden-sm">
                    <a href="/" title="home-logo"><img src="{% static  "img/cosre.png" %}" alt="logo" class="img-reponsive"></a>
                </div>
                <!--end logo-->
                <div class="topbar-right">
                    <div class="topbar-option">
                        <div class="topbar-currency dropdown">
                            <a id="label2" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                             <!-- <span>USD</span>
                              <span class="fa fa-caret-down f-10"></span> -->
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="label2">
                                <li><a href="#">USD</a></li>
                                <li><a href="#">VND</a></li>
                            </ul>
                        </div>
                        <div class="topbar-search">
                            <div class="search-popup dropdown" data-toggle="modal" data-target="#myModal">
                                <a href="#"><i class="icon-magnifier f-15"></i></a>
                            </div>
                        </div>
                        <div class="topbar-cart">
                             {% with total_items=cart|length %}
                                  {% if cart|length > 0 %}
                                      <a href="{% url "cart_detail" %}" class="icon-cart">
                                <i class="icon-basket f-15"></i>
                                <span class="count cart-count">{{ total_items  }}</span>
                            {% else %}
                                <i class="icon-basket f-15"></i>
                                <span class="count cart-count">0</span>
                                 {% endif %}
                                  {% endwith %}
                                      </a>
                        </div>
                    </div>
                    <!--end topbar-option-->
                </div>
                <!--end topbar-right-->
            </div>
        </div>
        <div class="header-top">
            <div class="container container-40">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="logo-mobile hidden-lg hidden-md">
                            <a href="/" title="home-logo"><img src="{% static  "img/cosre.png" %}" alt="logo" class="img-reponsive"></a>
                        </div>
                        <!--end logo-->
                        <button type="button" class="navbar-toggle icon-mobile" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-menu"></span>
                        </button>
                        <nav class="navbar main-menu">
                           <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav js-menubar">
                                    <li class="level1 active dropdown"><a href="#">Категории</a>
                                        <span class="plus js-plus-icon"></span>
                                        <ul class="dropdown-menu menu-level-1">
                                                <li {% if not category %} class="level2" {% endif %}>
                                                    <a href="{% url "product_list" %}" title="Home">Главная</a>
                                                </li>
                                                {% for c in view.get_category %}
                                                <li {% if category.slug == c.slug %} class="level2" {% endif %}>
                                                    <a href="{{ c.get_absolute_url }}" title="Home Clean">{{ c.name }}</a>
                                                </li>
                                                {% endfor %}
                                        </ul>
                                    </li>
                                   <!-- <li class="level1 dropdown hassub"><a href="/">Магазин</a>
                                        <span class="plus js-plus-icon"></span>
                                        <div class="menu-level-1 dropdown-menu">
                                            <ul class="level1">
                                               <li class="level2 col-6">
                                                    <a href="#">Страницы магазина</a>
                                                    <ul class="menu-level-2 col-6">
                                                        <li class="level3"><a href="cart_page_emty.html" title="Cart Empty">Тележка Пустая</a></li>
                                                        <li class="level3"><a href="Cart_page_Prodcut.html" title="Shopping Cart">Корзина</a></li>
                                                        <li class="level3"><a href="checkout.html" title="Checkout">Оформить Покупку</a></li>
                                                    </ul>
                                                    <div class="mega-product col-6">
                                                        <a href="#"><img src="{% static "img/mega_1.jpg" %}" alt="" class="img-responsive"></a>
                                                    </div>
                                                    <div class="cleafix"></div>
                                                </li>
                                                <li class="level2 col-6">
                                                    <a href="#">Product demo</a>
                                                    <ul class="menu-level-2 col-6">
                                                        <li class="level3"><a href="single_product_simple.html" title="Product Simple">Product — Simple</a></li>
                                                    </ul>
                                                    <div class="mega-product col-6">
                                                        <a href="#"><img src="{% static  "img/mega_2.jpg" %}" alt="" class="img-responsive"></a>
                                                    </div>
                                                    <div class="cleafix"></div>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div> -->


                                    </li>
                                    <li class="level1 active dropdown">
                                        <a href="#">Pages</a>
                                        <span class="plus js-plus-icon"></span>

                                        <ul class="dropdown-menu menu-level-1">
                                            {% if request.user.is_authenticated %}
                                                {{ request.user.first_name   }}
                                                <li class="level2"><a href="{% url "logout" %}" title="Login">Выход</a></li>
                                                {% else %}
                                                    <li class="level2"><a href="{% url "login" %}" title="Login">Вход</a></li>
                                                {% endif %}    
                                                <li class="level2"><a href="{% url "register" %}" title="Register">Регистрацыя</a></li>
                                        </ul>
                                    </li>


                                  <!--  <li class="level1 dropdown hassub">
                                        <a href="#">Features</a>
                                        <span class="plus js-plus-icon"></span>
                                        <div class="menu-level-1 dropdown-menu">
                                            <ul class="level1">
                                                <li class="level2 col-3">
                                                    <a href="#">Other Pages</a>
                                                    <ul class="menu-level-2">
                                                        <li class="level3"><a href="about_agency.html" title="About Agency">About Agency</a></li>
                                                        <li class="level3"><a href="about_shop.html" title="About Designer">About Designer</a></li>
                                                        <li class="level3"><a href="404.html" title="404 pages">404 page</a></li>
                                                    </ul>
                                                </li>
                                                <li class="level2 col-3">
                                                    <a href="#">Shop Style</a>
                                                    <ul class="menu-level-2">
                                                        <li class="level3"><a href="shop_flat.html" title="Shop Flat">Shop Flat</a></li>
                                                        <li class="level3"><a href="shopmodern-grid-custom.html" title="Shop Modern Grid Custom Bg">Shop Modern Grid Custom Bg</a></li>
                                                    </ul>
                                                </li>
                                                <li class="level2 col-3">
                                                    <a href="#">Lookbook</a>
                                                    <ul class="menu-level-2">
                                                        <li class="level3"><a href="lookbook_grid.html" title="Lookbook Grid">Lookbook Grid</a></li>
                                                        <li class="level3"><a href="lookbook_masonry.html" title="Lookbook Masonry">Lookbook Masonry</a></li>
                                                        <li class="level3"><a href="lookbook_popup.html" title="Lookbook Popup">Lookbook Popup</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                    </li>
                                    <li class="level1 active dropdown">
                                        <a href="#">Elements</a>
                                        <span class="plus js-plus-icon"></span>
                                        <ul class="dropdown-menu menu-level-1">
                                            <li class="level2"><a href="quickview.html" title="Quick View">Quick View</a></li>
                                            <li class="level2"><a href="#" title="Hover Product 4">Hover Product 4</a></li>
                                            <li class="level2"><a href="#" title="Hover Product ">Hover Product </a></li>
                                        </ul>
                                    </li> -->
                                    <li class="level1 active dropdown">
                                        <a href="#">Blog</a>
                                        <span class="plus js-plus-icon"></span>
                                        <ul class="dropdown-menu menu-level-1">
                                            <li class="level2"><a href="blog_classic.html" title="Blog Classic">Blog Classic</a></li>
                                            <li class="level2"><a href="blog_grid.html" title="Blog Grid">Blog Grid</a></li>
                                            <li class="level2"><a href="single_port_woomaper.html" title="Blog Single port Woomaper">Blog Single port Woomaper</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- /header -->


    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/bootstrap-slider.min.js" %}"></script>
    <script src="{% static "js/slick.min.js" %}"></script>
    <script src="{% static "js/masonry.pkgd.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>

  </body>
</html>
